.stats-card {
    background: linear-gradient(to left, #FFFFFF 50%, #222E3C 50%);
    background-size: 200%;
    background-position: right;
    transition: background-position 0.5s ease-out;
}

.stats-card:hover {
    background-position: left;
}

.stats-card:hover .count-text {
    color: white;
}

.profile-image {
    object-fit: cover;
    object-position: top;
    width: 250px;
    height: 250px;
}
